::-webkit-scrollbar {
    background-color: #121212;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 1000px;
}

body {
    background-color: #121212;
    color: #e0e0e0;
}
.navbar-dark .navbar-nav .nav-link {
    color: #b0b0b0;
}

.btn-outline-light:hover {
    color: #0a0a0a;
    background-image: linear-gradient(to top, #e3e3e3, #4e4e4e);
    border: 1px solid transparent;
}

.active {
    color: rgb(17, 124, 17)!important;
}

.card:not(:hover) {
    filter: opacity(0.2);
}

.card {
    transition: all 450ms ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    filter: opacity(1) drop-shadow(3px 3px 10px #000000);
}