::-webkit-scrollbar {
    background-color: #121212;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 1000px;
}

body {
    background-color: #000000 !important;
    color: #e0e0e0;
}
.navbar-dark .navbar-nav .nav-link {
    color: #b0b0b0;
}

.btn-outline-light:hover {
    color: #0a0a0a;
    background-image: linear-gradient(to top, #e3e3e3, #707070);
    border: 1px solid transparent;
}

.active {
    color: rgb(17, 124, 17)!important;
}

.card {
    transition: all 700ms ease-in-out;
    filter: blur(2px) brightness(0.2) grayscale(1);
}

.card.in-focus {
    filter: none;
    transform: translateY(-20px);
}

#techs {
    width: 70px;
}

i {
    cursor: pointer;
}